
.DS_Store
Przeszukiwanie i planowanie ścieżki/zadanie_2_bfs/__pycache__/agent.cpython-38.pyc
Przeszukiwanie i planowanie ścieżki/zadanie_4_Asharp/.idea/zadanie_4_Asharp.iml
Przeszukiwanie i planowanie ścieżki/zadanie_4_Asharp/.idea/inspectionProfiles/profiles_settings.xml
Przeszukiwanie i planowanie ścieżki/zadanie_4_Asharp/.idea/inspectionProfiles/Project_Default.xml
Przeszukiwanie i planowanie ścieżki/zadanie_4_Asharp/.idea/misc.xml
Przeszukiwanie i planowanie ścieżki/zadanie_4_Asharp/.idea/modules.xml
Przeszukiwanie i planowanie ścieżki/zadanie_4_Asharp/.idea/vcs.xml
